body {
    background-color: #212529;
}

header {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
    margin: 30px;
}

#botones-menu{
    display: flex;
    justify-content: space-around;
}

footer{
    color: white;
    display: flex;
    justify-content: center;
    font-family: Arial;
    font-size: 15px;
    margin: 10px 0;
}

table{
    margin-top: 50px;
}

#info-pokemon{
    display: flex;
    justify-content: center;
}
