body {
    background-color: #212529;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100px;
    margin: 30px;
}

.list-group-item{
    background-color: #212529;
    color: white;
}
